*{
    margin: 0;
    padding: 0;
    color: white;}

body{
    background-color: rgb(27, 27, 27);}

header{
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1000;}

.nomecontato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;}

.contato{
    display: flex;
    align-items: center;}

a > img{
    width: 77%;
    margin-right: 10px;}

main{
    display: flex;}

nav{
    display: flex;
    flex-direction: column;
    background-color: crimson;
    width: 30%;
    height: 100vh;
    justify-content: center;}

.navfixa{
    position: fixed;
    top: 0;
    width: 370px;}

button{
    background-color: unset;
    border: 0;
    font-size: 30px;}

.principal{
    background-color: white;
    width: 70%;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 15px;
    padding-left: 35px;
    padding-top: 30px;
    padding-right: 35px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;}

.descriçao{
    width: 70%;
    margin-left: 390px;}

.principal h1{
    color: black;
    margin-bottom: 30px;}

.principal p{
    color: black;}